<h1>Đây là Product List Component</h1>
<a routerLink="/products/create">create</a>
<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td><a routerLink="/products/{{product.id}}">{{product.name}}</a></td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><a routerLink="/products/edit/{{product.id}}">Edit</a></td>
    <td><button (click)="delete(product.id)">delete</button></td>
  </tr>
</table>


